@import 'tailwindcss';

body {
  background: #f9f9f9;
}

@theme {
  --color-primary: #f22539;
  --color-primary-pressed: #c00e20;
  --color-secondary: #bfbfbf;
  --color-secondary-pressed: #afafaf;
  --color-dark: #353535;
  --color-neutral: #5e5e5e;

  --spacing-4.5: 1.125rem;
  --spacing-5.5: 1.375rem;
  --spacing-7.5: 1.875rem;
  --spacing-12.5: 3.125rem;
  --spacing-15: 3.75rem;
  --spacing-8.75: 2.1875rem;
  --spacing-55: 13.75rem;
  --spacing-layout: 35.625rem;

  --text-h1: 1.625rem;
  --text-h2: 1.125rem;
}
